@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Washington Gomes</h1>
    <p>Criar Site <a href="https://www.linkedin.com/in/criarsite">Programador Web C# .Net</a>.</p>
</div>
